{% extends "base.html" %}
{% load static %}
{% block content %}

<style>
    .service-tow-single-img {
        height: auto !important;
        }

    .service-tow-single-img img {
        width: 100%;
        height: 180px !important;
        border-radius: 8px;
        transition: 0.5s;
    }

    .about-page {
        padding: 120px 0 0px !important;
    }

    .featured {
        padding: 20px 0 100px;
    }
</style>
<!-- about page -->
<section class="about-page">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <div class="about-page-left">
                    <div class="yellow-shape"></div>
                    <div class="pink-shape"></div>
                    <div class="about-counter">
                        <div class="bg-layer" style="background: url('{% static 'assets/images/background/about-counter.png' %}');"></div>
                        <div class="about-counter-imag">
                            <img src="{% static 'assets/images/resource/about-page-2.png' %}" alt="image">
                        </div>
                        <div class="about-counter-content">
                            <h3>12+</h3>
                            <p>Years of Experiences</p>
                        </div>
                    </div>
                    <div class="about-page-left-image">
                        <img src="{% static 'assets/images/resource/about-page-1.jpg' %}" alt="image">
                        <div class="about-shape">
                            <img src="{% static 'assets/images/shape/about-1.png' %}" alt="shape">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="rewards-left-container">
                    <div class="rewards-left-container-inner">
                        <div class="common-title mb_30">
                            <h6><i class="fa-solid fa-angles-right"></i> ABOUT COMPANY</h6>

                            <h3><strong>About Us</strong></h3>

                            <p>At <strong>CleanHandy</strong>, we are committed to delivering high-quality cleaning and handyman services with professionalism, reliability, and care. Whether you're preparing a space for new beginnings or simply keeping your home or office in top shape, we’re here to make your life easier.</p>

                            <p>Our team is made up of skilled professionals who take pride in their work. We bring attention to detail, punctuality, and a customer-first attitude to every job, big or small. From deep cleaning and move-in/move-out services to expert mounting, assembly, painting, and more — we’ve got the tools, experience, and passion to get it done right.</p>

                            <p><strong>Why choose us?</strong></p>
                            <div class="rewards-left-list">
                            <ul>
                                <li><i class="fa-sharp fa-light fa-circle-check"></i> Trained and vetted professionals</li>
                                <li><i class="fa-sharp fa-light fa-circle-check"></i> Eco-friendly cleaning products and tools</li>
                                <li><i class="fa-sharp fa-light fa-circle-check"></i> Transparent pricing with no hidden fees</li>
                                <li><i class="fa-sharp fa-light fa-circle-check"></i> Flexible scheduling and personalized service</li>
                                <li><i class="fa-sharp fa-light fa-circle-check"></i> Commitment to customer satisfaction</li>
                            </ul>
                            </div>
                            <p>Whether you're a homeowner, renter, landlord, or business owner — you can count on us for fast, friendly, and flawless service. Let us take care of the hard work so you can focus on what matters most.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- about page -->





<!-- featured -->
<section class="featured">
    <div class="container">
      <div class="common-title">
        <img src="{% static '/assets/images/shape/title-shape-1.png' %}" alt="shape" />
        <h6>Our Services</h6>
      </div>
      <div class="row">
        {% for service in services %}
        <div class="col-lg-3 col-md-6" style="padding-bottom: 20px;">
          <div class="service-tow-single">
              <div class="service-tow-single-img">
                  <img src="{{ service.service_detail_image.url }}" alt="image">
              </div>
              <div class="service-tow-single-content">
                    {% if service.category.name|lower == "cleaning" %}
                        <a href="{% url 'request_cleaning_quote' service.id %}" class="service-tow-single-title">{{ service.name }}</a>
                    {% elif service.category.name|lower == "handyman" %}
                        <a href="{% url 'request_handyman_quote' service.id %}" class="service-tow-single-title">{{ service.name }}</a>
                    {% endif %}
                  <div class="service-tow-single-rating">
                      <p><i class="fa-light fa-location-dot"></i> New York, USA</p>
                  </div>
                  <div class="featured-single-info">
                      <a href="{% url 'request_handyman_quote' service.id %}">Book Now</a>
                      <div class="featured-single-info-left">
                          <p>Starting from:</p><h5>${{ service.base_price }}</h5>
                      </div>
                  </div>
              </div>
          </div>
        </div>
        {% endfor %}
        
      </div>
    </div>
  </section>
  <!-- featured -->

{% endblock %}