{% extends "base.html" %}
{% load static %}
{% block content %}

<!-- common banner -->
<section class="common-banner" style="position: relative;">
    <div class="bg-layer" style="background: url({% static '/assets/images/background/common-banner-bg.jpg' %});"></div>
    <div class="common-banner-content">
        <h3>Blog</h3>
        <div class="breadcrumb">
            <ul>
              <li class="breadcrumb-item active"><a href="{% url 'home' %}">Home</a></li>
              <li class="breadcrumb-item"><i class="fa-solid fa-angles-right"></i> Blog</li>
            </ul>
        </div>
        {% if user.is_authenticated %}
          <a class="btn-1" href="{% url 'request_cleaning_booking' %}">Book Cleaning</a>
        {% else %}
          <a class="btn-1" href="{% url 'cleaning_booking' %}">Book Cleaning</a>
        {% endif %}
        {% if user.is_authenticated %}
          <a class="btn-1" href="{% url 'request_handyman_booking' %}">Book Handyman</a>
        {% else %}
          <a class="btn-1" href="{% url 'handyman_booking' %}">Book Handyman</a>
        {% endif %}
    </div>
  </section>
  <!-- common banner -->

<!-- blog page -->
<section>
    <div class="container">
        <div class="row">
            
            <div class="col-lg-4 col-md-6">
                <div class="blog-two-single">
                    <div class="blog-two-image">
                        <img src="{% static 'assets/images/blog/blog_cleaning_2.png' %}" alt="Cleaning Trends 2025">
                    </div>
                    <div class="blog-two-content">
                        <div class="blog-two-image-bags">
                            <span>Cleaning</span>
                        </div>
                        <span><i class="fa-light fa-clock"></i> March 10, 2025</span>
                        <a href="{% url 'blog_detail_1' %}">Top Cleaning Trends in NYC for 2025: What Every Homeowner Should Know</a>
                        <p>Discover how green cleaning, smart devices, and personalized services are transforming NYC homes in 2025. Stay ahead with the latest eco-friendly and tech-driven cleaning trends.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="blog-two-single">
                    <div class="blog-two-image">
                        <img src="{% static 'assets/images/blog/blog_handyman_1.png' %}" alt="Handyman Trends 2025">
                    </div>
                    <div class="blog-two-content">
                        <div class="blog-two-image-bags">
                            <span>Handyman</span>
                        </div>
                        <span><i class="fa-light fa-clock"></i> April 5, 2025</span>
                        <a href="{% url 'blog_detail_2' %}">Handyman Services in NYC: Top Trends to Watch in 2025</a>
                        <p>Explore the latest handyman trends in NYC, from smart home installations to eco-friendly repairs and on-demand emergency services. See what’s new for 2025!</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="blog-two-single">
                    <div class="blog-two-image">
                        <img src="{% static 'assets/images/blog/blog_booking_1.png' %}" alt="Booking Systems 2025">
                    </div>
                    <div class="blog-two-content">
                        <div class="blog-two-image-bags">
                            <span>Booking</span>
                        </div>
                        <span><i class="fa-light fa-clock"></i> May 20, 2025</span>
                        <a href="{% url 'blog_detail_3' %}">Booking Systems in 2025: Trends, Simplicity, and Smarter Scheduling</a>
                        <p>Explore how AI, multi-channel booking, and user-friendly design are making booking systems easier and smarter in 2025. Learn how to get the most out of modern scheduling platforms.</p>
                    </div>
                </div>
            </div>

            <!-- <div class="col-lg-12">
                <div class="paigination">
                    <ul>
                        <li><a href="javascript:void(0);"><i class="fa-regular fa-angle-left"></i></a></li>
                        <li><a href="javascript:void(0);">1</a></li>
                        <li><a href="javascript:void(0);">2</a></li>
                        <li><a href="javascript:void(0);">3</a></li>
                        <li class="dot"><p>.....</p></li>
                        <li><a href="javascript:void(0);">12</a></li>
                        <li><a href="javascript:void(0);"><i class="fa-regular fa-angle-right"></i></a></li>
                    </ul>
                </div>
            </div> -->
        </div>
    </div>
</section>
<!-- blog page -->

{% endblock %}