{% extends "base.html" %}
{% load static %}
{% block content %}
  <!-- contact details -->
  <section class="contact-details">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="contact-details-content">
                    <div class="contact-details-icon">
                        <i class="fa-light fa-envelope"></i>
                    </div>
                    <div class="contact-details-info">
                        <h6>Send Email</h6>
                        <a href="mailto:example@gmail.com">example@gmail.com</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="contact-details-content">
                    <div class="contact-details-icon">
                        <i class="icon-call"></i>
                    </div>
                    <div class="contact-details-info">
                        <h6>Call Us Now</h6>
                        <a href="tel:+880123(4567)890">+880 123 (4567) 890</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="contact-details-content">
                    <div class="contact-details-icon">
                        <i class="fa-sharp fa-light fa-location-dot"></i>
                    </div>
                    <div class="contact-details-info">
                        <h6>Location</h6>
                        <a href="#0">122/B New market, USA</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="contact-details-content">
                    <div class="contact-details-icon">
                        <i class="fa-sharp fa-light fa-alarm-clock"></i>
                    </div>
                    <div class="contact-details-info">
                        <h6>Update Info</h6>
                        <a href="#0">24/7 Support</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- contact details -->


<!-- contact -->
<section class="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="contact-left-container">
                    <div class="contact-image">
                        <img src="{% static 'assets/images/resource/contact-image.jpg' %}" alt="image">
                    </div>
                    <div class="contact-shape">
                        <img src="{% static 'assets/images/shape/shape-3.png' %}" alt="image">
                    </div>
                    <div class="contact-left-blank"></div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="contact-form">
                    <h3>Sent A Message</h3>
                    <form>
                        <div class="row">
                            <div class="col-lg-6">
                                <input type="text" class="cmn-input" name="name" placeholder="Enter Name">
                            </div>
                            <div class="col-lg-6">
                                <input type="email" class="cmn-input" name="email" placeholder="Your Email">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <input type="text" class="cmn-input" name="subject" placeholder="subject">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <textarea class="cmn-input" name="massage">Write your message</textarea>
                                <div class="checkbox-input">
                                    <input type="checkbox" class="form-check-input">
                                    <label>I agree with all the terms & conditions</label>
                                </div>
                                <button type="submit" class="btn-1">Submit Now <i class="icon-arrow-1"></i></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- contact -->


<!-- contact map -->
<section class="contact-map">
    <div class="container">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3794.7464974489885!2d-76.78954868894601!3d17.990527382932257!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8edb3f99153ffd73%3A0x1a47c174dfaee316!2sManhattan%20Rd%2C%20Kingston%2C%20Jamaica!5e0!3m2!1sen!2sbd!4v1726729158163!5m2!1sen!2sbd" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</section>
<!-- contact map -->

{% endblock %}