{% extends "base.html" %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center" style="min-height: 80vh;">
  <div class="card shadow-lg p-4 mb-4 mt-4" style="width: 100%; max-width: 500px; border-radius: 1rem; border:1px solid #F15A29;">
    <h3 class="text-center mb-4">Create an Account ✨</h3>
    <form method="post" novalidate>
      {% csrf_token %}

      {% if form.non_field_errors %}
        <div class="alert alert-danger">
          {{ form.non_field_errors }}
        </div>
      {% endif %}

      {% for field in form %}
        <div class="mb-3">
          <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
          {{ field }}
          {% if field.errors %}
            <div class="text-danger small">{{ field.errors|striptags }}</div>
          {% endif %}
        </div>
      {% endfor %}

      <div class="d-grid">
        <button type="submit" class="btn-1 btn-block">Sign Up</button>
      </div>

      <p class="text-center mt-3">
        Already have an account?
        <a href="{% url 'login' %}">Login</a><br>
      </p>
    </form>
  </div>
</div>
{% endblock %}
